<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="教学信息管理系统.Properties.Settings.教学库2ConnectionString"
            connectionString="Data Source=LHP-PC;Initial Catalog=教学库2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>